@tailwind base;
@tailwind components;
@tailwind utilities;
h4{
    text-align: center;
    font-size: large;
    font-weight: bold;
}
#SM-Card-Container{
    width: 100%;
    display: flex;
}
.SM-Results-Card{
    display: flex;
    flex-direction:column;
    align-items: center;
    flex-grow: 1;
    padding: 4px;
    margin: 4px;
    background-color: white;
    color: black;
}
#SM-main,body,#a,#b{
    margin: 0;
}
#SM-main{
    display: grid;
    flex-grow: 1;
    grid-template-columns: 2fr 3fr;
}
#mainBody{
    height: 100vh;
    padding:0;
    display: flex;
    flex-direction: column;
}
#a{
}
#SM-standings{
    background-color: blue;
    display: flex;
    flex-direction: column;
}
header{
    padding: 4px;
}

#SM-header{
    display: flex;
}
#SM-year-container{
    flex-grow: 1;
    display: flex;
}
#SM-year{
    height: 2.2em;
    align-self: center;
    margin-left: 8px;
    width:5em;
}
#SM-title{
    flex-grow: 4;
}
h3{
    text-align: center;
}
#SM-nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}
#SM-favorites, #SM-about{
    margin-top: auto;
    margin-bottom: auto;
    align-self: auto;
}
#SM-height-setter{
    display: flex;
    flex-direction: column;
}
#SM-race-content{
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
}

.SM-rightStanding, .SM-leftStanding, .SM-rightResults, .SM-leftResults{
    flex-grow: 1;
    margin: 8px;
    background-color: dimgray;
    color: lightgray;
}
.SM-leftStanding > li,.SM-rightStanding > li{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}
.SM-Name{
    flex-grow: 5;
    text-align: center;
    
}

.SM-Points, .SM-Wins, .SM-Position{
    margin: 0 10px;
    text-align: center;
}
.SM-Position{
    width: 18px;
}
.SM-leftResults > li{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 62px 62px 62px;
    width: 100%;
}
.SM-rightResults > li{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 32px 32px;
}
#SM-constructors, #SM-drivers{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}
#SM-races-List > li{
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 3fr;
}
.SM-races-Round{
    margin: 0 10px;
}
.SM-races-Name{
    flex-grow: 5;
    text-align: right;
    margin-right: 12px;
}
.SM-races-Results{
    margin-right: 4px;
    text-align: center;
}
.SM-reces-Standings{
    margin-right: 4px;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}